<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="description" content="{{ site.meta.author.name }} - {{ it.description || site.meta.description }}">
  <link rel="stylesheet" href="/styles/main.css" />
  <title>{{ it.title || site.meta.title }} - {{ site.meta.author.name }}</title>
</head>
<body>
  <input type="checkbox" id="nav-trigger" class="nav-trigger">

  <menu>
    <section>
      <h3>Years</h3>
      {{ include "partials/menu.vto" }}
    </section>
    <section>
            <h3>Pages</h3>
            <a href="/">Home</a>
            {{ include "partials/navigation.vto" }}
        </section>
  </menu>

  <header>
    <div>
      <h2>
        <label for="nav-trigger" title="Menu">
          <span>Menu</span>
          <span>i</span>
          <span>i</span>
          <span>i</span>
        </label>
        <a href="/">Kirsten Kluge</a>
      </h2>
      <nav>
        {{ include "partials/navigation.vto" }}
      </nav>
    </div>
  </header>
  
  <main>
    {{ content }}
  </main>
  <footer>
    © 2024 Kirsten Kluge
  </footer>
</body>
</html>