{{- for entry of search.pages("menu.visible=true", "menu.order") }}
    <a href="{{ entry.url }}" {{ if entry.url == url }} class="active"{{ /if }}>{{ entry.menu.title || entry.title }}</a>
{{ /for }}
